<template>
  <div class="create-presentation-for-topic">
    <h1>Proposer une présentation</h1>

    <div class="form-group">
      <input class="form-control" type="text" :placeholder="topic.name" readonly v-if="topic">
    </div>
    <div class="form-group">

      <label for="scheduleSelect">Programme</label>
      <p v-if="schedules.length === 0">Pas de programme.</p>
      <select v-if="schedules.length > 0" v-model="selectedSchedule" class="form-control" id="scheduleSelect" @change="onScheduleChange($event)">
        <option v-for="schedule in schedules" v-bind:key="schedule.id" :value="schedule.id">{{schedule.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="scheduleSelect">Date</label>
      <p v-if="availableDates.length === 0">Pas de date disponible.</p>
      <select v-if="availableDates.length > 0" v-model="selectedDate" class="form-control" id="dateSelect">
        <option v-for="date in availableDates" v-bind:key="date">{{date}}</option>
      </select>
    </div>
    <button v-if="isFormComplete" type="submit" class="btn btn-primary form-control" @click="createPresentation">
      Proposer une présentation
    </button>
  </div>
</template>
<script>
export default {
  name: "CreatePresentationForTopic",
  props: {
    schedules: Array,
    availableDates: Array,
    topic: null,
  },
  data() {
    return {
      selectedSchedule: null,
      selectedDate: null,
    };
  },
  computed: {
    isFormComplete() {
      return !!this.selectedSchedule && !!this.selectedDate;
    },
  },
  methods: {
    onScheduleChange(event) {
      this.$emit("change:schedule", event.target.value);
      this.selectedDate = null;
    },
    createPresentation() {
      const selectedSchedule = this.selectedSchedule;
      const selectedDate = this.selectedDate;

      this.$emit("create:presentation", {
        selectedSchedule,
        selectedDate,
      });
    },
  },
};
</script>