<template>
  <div class="topic-form">
    <h3>Proposez un sujet</h3>
    <form @submit.prevent="handleSubmit">
      <div class="form-group">
        <label>Nom</label>
        <input type="text" :class="{ 'is-invalid': submitting && invalidName }" class="form-control" v-model="topic.name" @focus="clearStatus" />
      </div>

      <div class="form-group">
        <label>Image/Illustration</label>
        <input type="text" class="form-control" v-model="topic.image" @focus="clearStatus" />
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea :class="{ 'is-invalid': submitting && invalidDescription }" class="form-control" v-model="topic.description" @focus="clearStatus" />
      </div>
      <button type="submit" class="btn btn-primary form-control">
        Proposer un sujet
      </button>
    </form>
  </div>
</template>
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "CreateTopicForm",
  data() {
    return {
      submitting: false,
      error: false,
      topic: {
        name: "",
        description: "",
        image: "",
      },
    };
  },
  computed: {
    invalidName() {
      return this.topic.name === "";
    },

    invalidDescription() {
      return this.topic.description === "";
    },
  },
  mounted() {
    const previousTopic = this.$store.state.createTopicFormContent;
    this.topic = { ...this.topic, ...previousTopic };
    this.$store.commit("removeCreateTopicFormContent");
  },
  methods: {
    handleSubmit() {
      this.submitting = true;
      this.clearStatus();

      if (this.invalidName || this.invalidDescription) {
        this.error = true;
        return;
      }

      this.$emit("create:topic", { ...this.topic });

      this.error = false;
      this.submitting = false;
    },

    clearForm() {
      this.topic = {
        name: "",
        description: "",
        image: "",
      };
    },

    clearStatus() {
      this.error = false;
    },
  },
});
</script>
<style scoped>
form {
  margin-bottom: 2rem;
}

[class*="-message"] {
  font-weight: 500;
}

.error-message {
  color: #d33c40;
}
</style>
