<template>
  <div v-if="topic" class="edit-topic">
    <form @submit.prevent="$emit('save:topic', topic)">
      <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" v-model="topic.name" />
      </div>

      <div class="form-group">
        <label>Image/Illustration</label>
        <input type="text" class="form-control" v-model="topic.image" />
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" v-model="topic.description" />
      </div>
      <button type="submit" class="btn btn-primary form-control">
        Sauvegarder
      </button>
    </form>
  </div>
</template>
<script>
export default {
  name: "EditTopic",
  props: {
    topic: undefined,
  },
};
</script>

<style scoped></style>
