<template>
  <div id="topic-table">
    <div class="card-columns">
      <div class="card md-4" v-for="topic in topics" :key="topic.id" @click="
          $router.push({
            name: 'TopicDetail',
            params: { id: topic.id },
          })
        ">
        <TopicCard v-bind:topic="topic" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import TopicCard from "./TopicCard"

export default Vue.extend({
  name: "TopicsTable",
  components: { TopicCard },
  props: {
    topics: Array,
  },
});
</script>

<style scoped>
.card {
  margin: 20px 10px;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 4;
  }
}
</style>
