<template>
  <div class="topic-card">
    <img v-if="topic.image" :src="topic.image" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">
        {{ topic.name }}
        <span class="badge badge-info">({{ topic.voters.length }} votes)</span>
      </h5>
    </div>
  </div>
</template>
<script>
export default {
  name: "TopicCard",
  props: {
    topic: null,
  },
};
</script>