<template>
  <div v-if="topic" class="topic-details">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        {{ topic.name }}
        <span class="badge badge-info">({{ topic.voters.length }} votes)</span>
      </h5>

      <nav class="my-2 my-md-0 mr-md-3">
        <button v-if="canPropose" @click="$emit('propose:topic', topic.id)" class="m-1 btn btn-outline-success">Je présente ce sujet</button>
        <button v-if="canVote" @click="$emit('vote:topic', topic.id)" class="m-1 btn btn-outline-info">Vote</button>
        <button v-if="isOwner" @click="$emit('edit:topic', topic.id)" class="m-1 btn btn-outline-primary">Modifier</button>
        <button v-if="isOwner" @click="$emit('delete:topic', topic.id)" class="m-1 btn btn-outline-danger">Supprimer</button>
      </nav>
    </div>

    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <img :src="topic.image" class="img-fluid" />
    </div>
    <vue-simple-markdown :source="topic.description"></vue-simple-markdown>
  </div>
</template>
<script>
export default {
  name: "TopicDetails",
  props: {
    topic: undefined,
  },
  computed: {
    canPropose() {
      return this.$store.getters.userId;
    },
    canVote() {
      return (
        this.$store.getters.userId &&
        !this.topic.voters.includes(this.$store.getters.userId)
      );
    },
    isOwner() {
      return this.topic.creatorId === this.$store.getters.userId;
    },
  },
};
</script>
<style scoped>
img {
  max-height: 800px;
}
</style>
