<template>
  <div class="make-topic-proposal">
    <CreatePresentationForTopic v-bind:topic="topic" v-bind:availableDates="availableDates" v-bind:schedules="schedules" @create:presentation="createPresentation" @change:schedule="loadAvailableDates" />
  </div>
</template>
<script>
import CreatePresentationForTopic from "@/components/topics/CreatePresentationForTopic.vue";

export default {
  name: "CreateTopicPresentationView",

  components: {
    CreatePresentationForTopic,
  },
  mounted() {
    this.getSchedules();
    this.getTopic();
  },
  data() {
    return {
      topic: null,
      schedules: [],
      availableDates: [],
    };
  },
  methods: {
    getSchedules() {
      this.$http.get("/schedules").then((response) => {
        this.schedules = response.data;
      });
    },
    getTopic() {
      this.$http.get(`/topics/${this.$route.params.id}`).then((response) => {
        this.topic = response.data;
      });
    },
    loadAvailableDates(scheduleId) {
      this.$http
        .get(`/schedules/${scheduleId}/available-dates`)
        .then((response) => {
          const dates = response.data;
          this.availableDates = dates ? dates : [];
        });
    },
    createPresentation(createPresentationRequest) {
      this.$http
        .post(
          `/schedules/${createPresentationRequest.selectedSchedule}/presentations`,
          {
            date: createPresentationRequest.selectedDate,
            topicId: this.topic.id,
          }
        )
        .then((response) => {
          this.$router.push({
            name: "ScheduleDetail",
            params: { id: response.data.id },
          });
        })
        .catch(() => {
          this.$store.commit(
            "addErrorMessage",
            "Impossible de créer la presentation."
          );
        });
    },
  },
};
</script>
