<template>
  <div>
    <EditTopic @save:topic="saveTopic" v-bind:topic="topic"></EditTopic>
  </div>
</template>
<script>
import EditTopic from "@/components/topics/EditTopic.vue";

export default {
  name: "EditTopicView",
  components: {
    EditTopic,
  },
  data() {
    return {
      topic: undefined,
    };
  },
  mounted() {
    this.getTopic();
  },
  methods: {
    getTopic() {
      const topicId = this.$route.params.id;
      const previousTopic = this.$store.state.updateTopicFormContent;

      if (previousTopic && previousTopic.topicId == topicId) {
        this.topic = previousTopic;
      } else {
        this.$http
          .get(`/topics/${this.$route.params.id}`)
          .then((response) => (this.topic = response.data));
      }
      this.$store.commit("removeUpdateTopicFormContent");
    },
    saveTopic(topic) {
      this.$http
        .put(`/topics/${topic.id}`, topic)
        .then((response) => {
          this.$store.commit("removeUpdateTopicFormContent");
          this.$router.push({
            name: "TopicDetail",
            params: { id: response.data.id },
          });
        })
        .catch(() => {
          this.$store.commit("storeUpdateTopicFormContent", topic);
        });
    },
  },
};
</script>
