<template>
  <div class="login">
    <LoginForm @login:user="login"></LoginForm>
  </div>
</template>

<script>
import LoginForm from "@/components/LoginForm.vue";
import authTokenService from "../services/auth-token-service";
import previousRouteStorage from "../services/previous-route-storage";

export default {
  name: "LoginView",
  components: {
    LoginForm,
  },
  mounted() {
    authTokenService.removeToken();
  },
  methods: {
    login(credentials) {
      this.$http.post("/auth/login", credentials).then((response) => {
        authTokenService.setToken(response.data.accessToken);
        this.$store.dispatch("loadProfile");
        const previousRoute = previousRouteStorage.pop();

        this.$router.push(
          previousRoute
            ? previousRoute
            : {
                name: "Home",
              }
        );
      });
    },
  },
};
</script>
