<template>
  <div class="schedules">
    <div class="text-center">
      <router-link class="center btn btn-dark" to="/schedules/create">
        Proposer un programme
      </router-link>
    </div>
    <SchedulesGrid v-bind:schedules="schedules" @delete:schedule="deleteSchedule"></SchedulesGrid>
  </div>
</template>
<script>
import SchedulesGrid from "@/components/schedules/SchedulesGrid.vue";
export default {
  name: "SchedulesView",
  components: {
    SchedulesGrid,
  },
  data() {
    return {
      schedules: [],
    };
  },
  mounted() {
    this.getSchedules();
  },
  methods: {
    getSchedules() {
      this.$http
        .get("/schedules")
        .then((response) => (this.schedules = response.data));
    },
    deleteSchedule(id) {
      this.$http.delete(`/schedules/${id}`).then(() => {
        this.getSchedules();
      });
    },
  },
};
</script>