<template>
  <div>
    <CreateScheduleForm @create:schedule="createSchedule" />
  </div>
</template>
<script>
import CreateScheduleForm from "@/components/schedules/CreateScheduleForm.vue";

export default {
  name: "ScheduleCreationView",
  components: {
    CreateScheduleForm,
  },
  methods: {
    createSchedule(schedule) {
      this.$http
        .post("/schedules", schedule)
        .then((response) => {
          this.$router.push({
            name: "ScheduleDetail",
            params: { id: response.data.id },
          });
        })
        .catch(() => {
          this.$store.commit(
            "addErrorMessage",
            "Impossible de créer la programation."
          );
        });
    },
  },
};
</script>
