<template>
  <div>
    <create-topic-form @create:topic="createTopic" />
  </div>
</template>
<script>
import CreateTopicForm from "@/components/topics/CreateTopicForm.vue";

export default {
  name: "TopicCreationView",
  components: {
    CreateTopicForm,
  },
  methods: {
    async createTopic(topic) {
      this.$http
        .post("/topics", topic)
        .then((response) => {
          this.$router.push({
            name: "TopicDetail",
            params: { id: response.data.id },
          });
        })
        .catch(() => {
          this.$store.commit("storeCreateTopicFormContent", topic);
          this.$store.commit(
            "addErrorMessage",
            "Impossible de proposer le sujet."
          );
        });
    },
  },
};
</script>
