<template>
  <div class="topics">
    <div class="text-center">
      <router-link class="center btn btn-dark" to="/topics/create">
        Proposer un sujet
      </router-link>
    </div>
    <TopicsGrid v-bind:topics="topics"></TopicsGrid>
  </div>
</template>

<script>
import TopicsGrid from "@/components/topics/TopicsGrid.vue";

export default {
  name: "TopicsView",
  components: {
    TopicsGrid,
  },
  data() {
    return {
      topics: [],
    };
  },
  mounted() {
    this.getTopics();
  },
  methods: {
    getTopics() {
      this.$http
        .get("/topics")
        .then(
          (response) =>
            (this.topics = response.data.sort(
              (a, b) => b.voters.length - a.voters.length
            ))
        );
    },
  },
};
</script>
