<template>
  <div>
    <TopicDetails @delete:topic="deleteTopic" @propose:topic="proposeTopic" @vote:topic="vote" @edit:topic="editTopic" v-bind:topic="topic"></TopicDetails>
  </div>
</template>
<script>
import TopicDetails from "@/components/topics/TopicDetails.vue";

export default {
  name: "TopicDetailsView",
  components: {
    TopicDetails,
  },
  data() {
    return {
      topic: undefined,
    };
  },
  mounted() {
    this.getTopic();
  },
  methods: {
    async getTopic() {
      this.$http
        .get(`/topics/${this.$route.params.id}`)
        .then((response) => (this.topic = response.data));
    },
    async vote(topicId) {
      this.$http
        .put(`/topics/${topicId}/vote`)
        .then((response) => (this.topic = response.data));
    },
    async editTopic(topicId) {
      this.$router.push({ name: "EditTopic", params: { id: topicId } });
    },
    async deleteTopic(topicId) {
      this.$http
        .delete(`/topics/${topicId}`)
        .then(() => this.$router.push({ name: "Home" }));
    },
    async proposeTopic(topicId) {
      this.$router.push({
        name: "CreateTopicPresentationView",
        params: { id: topicId },
      });
    },
  },
};
</script>
