<template>
  <div class="login-form">
    <form @submit.prevent="handleSubmit">
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" v-model="credentials.username" />
      </div>
      <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" class="form-control" v-model="credentials.password" />
      </div>
      <button type="submit" class="btn btn-primary form-control">
        Login
      </button>
    </form>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "LoginForm",
  data() {
    return {
      credentials: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    handleSubmit() {
      this.$emit("login:user", { ...this.credentials });
      this.clearForm();
    },

    clearForm() {
      this.credentials = {
        username: "",
        password: "",
      };
    },
  },
});
</script>
