<template>
  <div class="messages card" v-if="hasMessages">
    <a class="btn" @click="clearMessages()">ok</a>
    <div class="alert" role="alert" v-for="message in $store.state.messages" v-bind:key="message" :class="getClass(message.level)">
      {{ message.message }}
    </div>
  </div>
</template>
<script>
export default {
  name: "Messages",
  computed: {
    hasMessages() {
      return this.$store.state.messages.length > 0;
    },
  },
  methods: {
    clearMessages() {
      this.$store.commit("clearMessages");
    },
    getClass(level) {
      if (level === "info") return "alert-info";
      if (level === "success") return "alert-success";
      if (level === "error") return "alert-danger";
    },
  },
};
</script>