<template>
  <div id="app" class="wrapper">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
      <router-link class="navbar-brand" to="/">Take Ten To Think</router-link>

      <ul class="navbar-nav">
        <li>
          <router-link class="nav-link" to="/topics">
            Sujets
          </router-link>
        </li>
        <li>
          <router-link class="nav-link" to="/schedules">
            Programmes
          </router-link>
        </li>
        <li v-if="!isAuthenticated">
          <router-link class="nav-link" to="/login">
            Login
          </router-link>
        </li>
        <li v-if="isAuthenticated">
          <a @click="logout()" class="nav-link">Logout</a>
        </li>
      </ul>
    </nav>

    <div id="content" class="container">
      <Messages />
      <router-view />
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import authTokenService from "./services/auth-token-service";
import Messages from "./components/Messages.vue";

export default Vue.extend({
  name: "App",
  components: { Messages },
  computed: {
    isAuthenticated() {
      return !!this.$store.state.user;
    },
  },
  mounted() {
    if (authTokenService.hasToken()) {
      this.$store.dispatch("loadProfile");
    }
  },
  methods: {
    logout() {
      authTokenService.removeToken();
      this.$store.commit("unsetUser");
    },
  },
});
</script>
<style>
#content {
  margin-top: 75px;
}
</style>
