<template>
  <div class="create-schedule-form">
    <form @submit.prevent="handleSubmit">
      <div class="form-group">
        <label>Nom</label>
        <input type="text" :class="{ 'is-invalid': submitting && invalidName }" class="form-control" v-model="schedule.name" @focus="clearStatus" />
      </div>

      <div class="form-group">
        <label>Image</label>
        <input type="text" class="form-control" v-model="schedule.image" @focus="clearStatus" />
      </div>

      <div class="form-group">
        <label>Date de début de la programation:</label>
        <input type="datetime-local" class="form-control" value="2018-06-12T19:30" min="2020-06-07T00:00" max="2100-06-14T00:00" v-model="schedule.scheduleRule.firstDate">
      </div>

      <div class="form-group">
        <label>Jours entre chaque presentation:</label>
        <input type="number" class="form-control" value="0" min="0" max="31" v-model="schedule.scheduleRule.daysBetweenOccurrences">
      </div>
      <button type="submit" class="btn btn-primary form-control">
        Enregistrer une programation
      </button>
    </form>
  </div>
</template>
<script>
export default {
  name: "CreateScheduleForm",
  data() {
    return {
      submitting: false,
      error: false,
      schedule: {
        name: "",
        image: "",
        scheduleRule: {
          firstDate: new Date(),
          daysBetweenOccurrences: 7,
        },
      },
    };
  },
  computed: {
    invalidName() {
      return this.schedule.name === "";
    },
  },
  methods: {
    handleSubmit() {
      this.submitting = true;
      this.clearStatus();

      if (this.invalidName || this.invalidDescription) {
        this.error = true;
        return;
      }

      this.$emit("create:schedule", { ...this.schedule });

      this.error = false;
      this.submitting = false;
    },

    clearForm() {
      this.schedule = {
        name: "",
        scheduleRule: {
          firstDate: new Date(),
          daysBetweenOccurrences: 7,
        },
      };
    },

    clearStatus() {
      this.error = false;
    },
  },
};
</script>