<template>
  <div class="schedule-card">
    <div class="card-body">
      <img v-if="schedule.image" :src="schedule.image" class="card-img-top" />
      <h5 class="card-title">
        {{ schedule.name }}
      </h5>
      <p>{{schedule.scheduleRule.firstDate}}</p>
      <p>{{schedule.scheduleRule.daysBetweenOccurrences}}</p>
    </div>
  </div>
</template>
<script>
export default {
  name: "ScheduleCard",
  props: {
    schedule: null,
  },
};
</script>