<template>
  <div id="schedule-table">
    <div class="card-columns">
      <div class="card md-4" v-for="schedule in schedules" :key="schedule.id">
        <ScheduleCard v-bind:schedule="schedule" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import ScheduleCard from "./ScheduleCard"

export default Vue.extend({
  name: "schedulesTable",
  components: { ScheduleCard },
  props: {
    schedules: Array,
  },
});
</script>

<style scoped>
.card {
  margin: 20px 10px;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 4;
  }
}
</style>
